@if (selectedAlbum(); as album) {
<div aria-label="Album summary">
    <div class="album-tracks__header" [id]="'album-tracks-' + album.albumDetails.uri">
        <div class="album-tracks__header-main">
            @if (album | albumLargeCoverArt; as coverArt) {
            <img class="album-tracks__cover" [src]="coverArt" [alt]="album.albumDetails.name + ' album cover'"
                width="96" height="96" />
            }
            <div>
                <p class="album-tracks__eyebrow">Album Details</p>
                <h3 class="album-tracks__title">{{ album.albumDetails.name }}</h3>
                <p class="album-tracks__meta">{{ album.albumDetails.tracks.length }} tracks</p>
            </div>
        </div>
    </div>

    <lib-grouped-table [class.mobile]="isMobile()" [ariaLabel]="album.albumDetails.name + ' track list'"
        [columns]="tableColumns" [groups]="tableGroups()">
        <ng-template libGroupedTableCell="rank" let-row>
            <span class="rank">{{ row.rank }}</span>
        </ng-template>

        <ng-template libGroupedTableCell="trackName" let-row>
            <span class="track-name">{{ row.trackName }}</span>
        </ng-template>

        <ng-template libGroupedTableCell="total" let-row>
            @if (isMobile()) {
            <span> {{ row.total | formatCompact }}</span>
            } @else {
            <span> {{ row.total | number }}</span>
            }
        </ng-template>

        <ng-template libGroupedTableCell="daily" let-row>
            @if (isMobile()) {
            <span [class.delta-positive]="row.daily >= 0" [class.delta-negative]="row.daily < 0">
                {{ row.daily | formatCompact }}
            </span>
            } @else {
            <span [class.delta-positive]="row.daily >= 0" [class.delta-negative]="row.daily < 0">
                {{ row.daily | number }}
            </span>
            }
        </ng-template>

        <ng-template libGroupedTableCell="change" let-row>
            <span [class.delta-positive]="row.change >= 0" [class.delta-negative]="row.change < 0">
                {{ row.change | percentWithSign:'1.0-1' }}
            </span>
        </ng-template>
    </lib-grouped-table>
</div>
}