table.table-striped {
    border-collapse: separate;
    width: 100%;

    tr {
        text-align: left;
    }

    th,
    td {
        padding: 4px;
    }

    tbody tr:nth-child(odd) td,
    tbody tr:nth-child(odd) th {
        background-color: #f9f9f9;
    }
}

.menu {

    width: 100%;
    float: left;
    display: block;
    padding-bottom: 24px;

    a:link,
    a:visited,
    a:active {
        color: #FFFFFF;
        text-decoration: none;
    }

    ul {
        width: 100%;
        margin: 0px;
        padding: 0;
        color: #FFFFFF;
        list-style-type: none;

        li {
            width: 140px;
            float: left;
            border: 1px solid #FFFFFF;
            border-right: none;
            text-align: center;

            a {
                background-color: #800000;
                font-weight: bold;
                display: block;
                line-height: 30px;
                text-transform: uppercase;
            }

            a:hover {
                background-color: white;
                color: black;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    table.table-striped {

        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }


        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 30%;
            white-space: normal;
            text-align: left;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            left: 4px;
            width: 45%;
            padding-right: 8x;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        td:before {
            content: attr(data-title);
        }
    }
}